<head>
    <title>Bulance Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

</head>
<body>
</body>


<template name="frontDoor">
<div id="landingPage" style="background-image: url('img/back-large.jpg')">
<div class="container"  id="title">
    <h1>
        <span>Ambulance Tracker</span>
    </h1>
</div>

    <div class="container" style="margin-top: 20%">
        <a href="/map" class="btn paper paper-raise-flatten">Normal User</a>
        <a href="/login" class="btn paper paper-raise-flatten">Hospital Admin</a>

</div>
</div>

</template>

<template name="navBar">
    <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Ambulance Tracker</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"> {{>newLoginButton}}</a></li>


                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="newLoginButton">
    {{>_loginButtons}}
</template>


