

<template name="MapViewRegister">
    {{>mapRegister}}
</template>


<template name="mapRegister">

    {{#if isAdmin}}
        <div id="holder">
            <h1 id="home">
                <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle" style="top: 13px;">
                </a>
            </h1>

            <input id="pac-input" class="controls" type="text" placeholder="Search Destination" style="line-height: normal;width:200px">
        </div>
    {{/if}}



    <a href="/Register"  id="saveLoc"> <button type="button" class="btn btn btn-info" style="margin-bottom: 35px"><span class="glyphicon glyphicon-search" id="findInMap" ></span> Save Location</button></a>

    {{#unless geolocationError}}
        {{> googleMap
        name="mapRegister"
        options=myMapOptions
        }}
    {{else}}
        Geolocation failed: {{geolocationError}}
        <h3>Check your internet connection or turn on Location</h3>
    {{/unless}}
</template>