@charset "UTF-8";


/* Base page styles */
#landingPage{

    font-family: 'PT Sans', sans-serif;
    padding-top: 20%;
    height: 100%;
    width: 100%;

}

#landingPage h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
#landingPage h2.no-separator {
    border: none;
}

#landingPage ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#landingPage li {
    display: inline-block;
    margin: 0 20px;
}

/* Base Button Style */
#landingPage .btn {
    z-index: 1;
    position: relative;
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
}
#landingPage .btn:before, .btn:after {
    content: "";
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
#landingPage .paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
}

/* Raised effect – pushes up on hover */
#landingPage .paper-raise:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#landingPage .paper-raise:hover {
    border: 1px solid #fff;
}
#landingPage .paper-raise:hover:before {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

#landingPage .paper-raise-flatten {
    border-color: #fff;
    box-shadow: none;
}
#landingPage .paper-raise-flatten:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
#landingPage .paper-raise-flatten:hover {
    border-color: #dedede;
}
#landingPage .paper-raise-flatten:hover:before {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}
