<template name="mainSide">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="/"><i class="fa fa-pencil-square-o" style="margin-right: 20px"> </i>Register</a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="/map"> <i class="fa fa-globe" style="margin-right: 20px"></i>Map </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="/updateAmbulances" > <i class="fa fa-cog" style="margin-right: 20px"></i>Update</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                {{>yield}}
            </div>



        </div>

    </div>
</template>
